
  @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Poppins:wght@400;500;600&display=swap');

/* ------------ VARIABLES ------------ */
:root{
  /* FONT */
  --font-poppins: 'Poppins', sans-serif;
  --font-caveat: 'Caveat', cursive;

  /* COLORS */
  --bg-color: #00653e;
  --bg-image-color: #ffeed4;
  --frapuccino-pink: #e669be;
  --frapuccino-green: #cdff8b;
  --frapuccino-red: #ed6059;
}

/* ------------ BASE ---------------- */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: var(--font-poppins);
}

img{
  width: 100%;
}

body{
  height: 100vh;
  overflow: hidden;
}
/* ----------- HERO --------------- */
.hero{
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);

  position: relative;
}

.hero::before{
  content: '';
  background-color: var(--bg-image-color);
  height: 100%;
  width: 30%;

  position: absolute;
  top: 0;
  right: 0;
}

.hero::after{
  content: 'New!';
  font-size: 300px;
  text-transform: uppercase;
  color: #d8710a38;
  transform: rotate(-90deg);
  font-family: 'Impact';
  margin-right : 100px;

  position: absolute;
  bottom: 1.2em;
  right: -.8em;
}

/* ----------- HEADER --------------- */
.nav{
  width: 100%;
  height: 6em;
  padding: 1em 1em 0;
  display: flex;
  align-items: center;
}

.nav__logo{
  width: 6em;
}

.nav__links{
  display: flex;
  width: 100%;
  margin-left: 2em;
}

.nav__link a{
  color: #fff;
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-right: 1.5em;
}

.nav__link--findstore{
  position: absolute;
  right: 0;
}

.nav__link--findstore a{
  color: var(--bg-color);
} 

.nav__link--findstore a span{
  margin-left: .5em;
}

/* ---------- HERO CONTENT ----------- */
.hero__content{
  width: 100%;
}

.hero__texts{
  max-width: 50em;
  color: #fff;
  position: absolute;
  top: 10em;

  animation: slide-texts 1s forwards;
}

.hero__title{
  font-family: var(--font-caveat);
  font-size: 11rem;
  margin-bottom: .1em;
}

.hero__paragraph{
  font-size: 1.4rem;
  line-height: 1.5em;
  width: 80%;
}

.hero__image{
  max-width: 28em;
  position: absolute;
  z-index: 10;

  animation: slide-image 1s forwards;
}

.hero__image img{
  filter: drop-shadow(1em 1em 1em rgba(0,0,0, .2));
  transform: rotate(-10deg);
}

.hero__frappuccinos{
  position: absolute;
  bottom: 0;
  left: 5em;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__frappuccino{
  width: 14em;
  height: 12em;
  border-radius: 2em 2em 0 0;
  margin: 0 .2em;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  top: 20em;

  animation: slide-frappuccinos 1s forwards;
}

.hero__frappuccino img{
  width: 9em;
  position: relative;
  bottom: 4em;
  cursor: pointer;
  transition: transform .5s ease;
}

.hero__frappuccino--pink{
  background-color: var(--frapuccino-pink);
  animation-delay: 1s;
}

.hero__frappuccino--green{
  background-color: var(--frapuccino-green);
  animation-delay: 1.3s;
}

.hero__frappuccino--red{
  background-color: var(--frapuccino-red);
  animation-delay: 1.6s;
}

.hero__frappuccino:hover img{
  transform: translateY(-1.5em) scale(1.1);
}


/* ---------- ANIMATIONS -------------- */
@keyframes slide-texts {
  from{
    left: -100%;
  }
  to{
    left: 5em;
  }
}

@keyframes slide-image {
  from{
    right: -100%;
  }
  to{
    right: 16%;
  }
}

@keyframes slide-frappuccinos {
  to{
    top: 0;
  }
}